/* dashobard style */
.container {
    padding: calc(25px + (35 - 25) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    gap: calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)));
    overflow: auto;

    ::-webkit-scrollbar-thumb {
        background-color: blue !important;
        border-radius: 10px;
        border: 3px solid #ffffff;
    }

    .dash-wrap {
        min-width: calc(350px + (470 - 350) * ((100vw - 320px) / (1920 - 320)));
        background: #F2F4F7;
        padding: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
        padding-top: 0px;

        .dash-title {
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left-col {
                .title {
                    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
                    font-weight: bold;
                }
            }

            .right-col {
                .number {
                    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
                    padding: 5px;
                    background: #FFFFFF;
                    font-weight: bold;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .dash-wrapper {
            display: flex;
            flex-direction: column;
            gap: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
            overflow: auto;
            height: calc(100vh - 19.5vh);


            .dash-block {
                background: #FFFFFF;
                padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
                display: flex;
                flex-direction: column;
                gap: calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)));

                .top-col {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));

                    .top-cel {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        i {
                            width: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
                            height: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
                            border: 1px solid #222;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 5px;
                            border-radius: 50%;
                        }
                    }
                }

                .middle-col {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
                }

                .bottom-col {
                    .left-col {
                        display: flex;
                        align-items: center;
                        gap: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
                        flex-wrap: wrap;

                        .user-block {
                            font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1920 - 320)));

                            i {
                                font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
                            }

                            &:nth-child(1),
                            &:nth-child(2) {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: calc(25px + (30 - 25) * ((100vw - 320px) / (1920 - 320)));
                                height: calc(25px + (30 - 25) * ((100vw - 320px) / (1920 - 320)));
                                background: #222;
                                color: #fff;
                                border-radius: 50%;
                            }

                            &:nth-child(3) {
                                font-size: 12px;
                                width: calc(25px + (30 - 25) * ((100vw - 320px) / (1920 - 320)));
                                height: calc(25px + (30 - 25) * ((100vw - 320px) / (1920 - 320)));
                                background: #222;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* dash form style */
.modal {
    max-width: 650px !important;
}

.dash-form {
    display: flex;
    flex-direction: column;
    gap: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
    padding: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320)));
    width: 100%;

    .field {
        padding: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320))) calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
        border: 1px solid #222;
    }

    .btn {
        padding: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320))) calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
        border: 1px solid #222;
        background: #222;
        color: #fff;
        cursor: pointer;
    }
}